<table class="table">
  <thead>
    <tr>
      <th><%= Record.human_attribute_name(:date) %></th>
      <th><%= Project.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.date %></td>
        <td><%= record.project.name if record.project %></td>
      </tr>
    <% end %>
  </tbody>
</table>